html, body, #root {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}


.App-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


main {
  flex: 1; 
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  background-color: #333; 
  color: white;
  text-align: center;
  position: relative;
  bottom: 0;
}

a {
    text-decoration: none;
  color: inherit;
}
a:hover {
text-decoration: none;
color: inherit;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

ul {
  list-style-type: none;
}

.headshot-container {
  display: flex;
  max-width: 100px;
  padding-right: 2em;
  justify-content: center;
  align-items: right;
  overflow: hidden;
  border-radius: 40%; /* Makes it circular */
}

.headshot {
  width: 100%;
  height: auto;
  border-radius: 50%; /* Ensures circular shape */
  object-fit: cover; /* Crops and centers */
}
.header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 2em;
}

.footer-container{
  display: flex;
  justify-content:space-evenly;
  flex-direction: row;
  align-items: center;
  max-width: 100%;
  position: relative;
  bottom: 0;
  padding: 1em;
  background-color: #333;
}
.footer-container a{
  color: white;
  text-decoration: none;
  font-size: 1.2em;
}

.footer-container a:hover{
  color: #747bff;
}
.footer-container a:visited{
  color: white;
}
.footer-container a:active{
  color: #747bff;
}
.footer-container a:focus{
  outline: 4px auto -webkit-focus-ring-color;
}
